{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            {{msg}}
        {% endfor %}
    {% endif %}
            <form action="/reserve/edita/save" method="post">
                <input type="hidden" name="id" value="{{dados.id}}">
                <label for="data">Data: </label>
                <input type="date" name="data" id="data" value="{{dados.data}}"/>
                <label for="cliente">Cliente: </label>
                <input type="text" name="cliente" id="cliente" value="{{dados.cliente}}">
                <label for="servico">Servico: </label>
                <input type="text" name="servico" id="servico" value="{{dados.servico}}">
                <button type="submit">Salvar</button>
            </form>

{% endblock %}