{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            {{msg}}
        {% endfor %}
    {% endif %}

    <a href="/vendas/add">+ Adicionar</a>
    <table>
        <tr>
            <th>Data</th>
            <th>Valor</th>
            <th>Vendedor</th>
            <th>Editar</th>
            <th>Remove</th>
        </tr>
        {% for vendas in dados %}
        <tr>
            <td>{{vendas.data}}</td>
            <td>{{vendas.valor}}</td>
            <td>{{vendas.vendedor}}</td>
            <td>
                <a href="/vendas/editar/{{vendas.id}}">editar</a>
            </td>
            <td>
                <a href="/vendas/remove/{{vendas.id}}">remover</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}