{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            {{msg}}
        {% endfor %}
    {% endif %}
            <form action="/vendas/save" method="post">
                <label for="data">Data: </label>
                <input type="date" name="data" id="data">
                <label for="valor">Valor: </label>
                <input type="number" name="valor" id="valor">
                <label for="vendedor">Vendedor: </label>
                <input type="text" name="vendedor" id="vendedor">
                <button type="submit">Salvar</button>
            </form>

{% endblock %}