{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            {{msg}}
        {% endfor %}
    {% endif %}
            <form action="/vendas/editar/save" method="post">
                <input type="hidden" name="id" value="{{dados.id}}">
                <label for="data">Data: </label>
                <input type="date" name="data" id="data" value="{{dados.data}}"/>
                <label for="valor">Valor: </label>
                <input type="number" name="valor" id="valor" value="{{dados.valor}}">
                <label for="vendedor">Vendedor: </label>
                <input type="text" name="vendedor" id="vendedor" value="{{dados.vendedor}}">
                <button type="submit">Salvar</button>
            </form>

{% endblock %}